@use "./partials/reset.scss";

.container{
    max-width: 1300px;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-between;
}

.col-auto{
    flex-basis:0;
    flex-grow: 1;
}

.col-12{
    flex-basis: 100%;
}

.col-6{
    flex-basis: 50%
}

.col-4{
    flex-basis: calc(100%/12*4);
}

.wrap{
    flex-wrap: wrap;
}